@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.25px;
    
}


.background{
    width: 100%;   
}

.body_title_heading{
    position : relative;
    width: 100%;
    height: 100px;
    background-size: cover;

    
}
.title_heading{
    position:absolute;
    top: 50%;
    font-weight : bold;
    font-size: 40px;
    margin-left: 100px; 
    letter-spacing: 1.15px;  
}
.title_description{
    position: absolute;
    top: 65%;
    font-weight : 400;
    font-size: 15px;
    margin-left: 100px; 
    letter-spacing: 1.2px; 
}

.main_button button{
    position: absolute;
    top: 80%;
    background-color:  rgba(23, 193, 163, 1);
    border: 0;
    color: white;
    padding: 15px 35px ;
    margin-left: 100px;
    border-radius: 10px;
}

.doctors_talk{
    position: absolute;
    top: 81%;
    margin-left:330px;
    display: flex;
}
.playbutton{
    flex: 1;
}

.talk{
    flex: 2;
    color: black;
    width: 90px;
    align-self: center;
}

.form_section{
    position: absolute;
    top: 110%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin-left: 110px;    
    padding:2%;

    
}

.form_txt{
    font-size: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.form_top_section{
    display: flex;
    padding-left: 40px;  
}
.form_bottom_section{
    display: flex;
    padding-top: 20px;
    padding-left: 40px;
}
    
.input_class{
    flex: 1;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border-color: rgb(207, 207, 207);
    justify-content: center;
    width: 230px;
}

.form_button button{
    flex: 1;
    background-color: rgba(23, 193, 163, 1);
    color: white;
    margin-right: 50px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 0;
    justify-content: center;
    width: 250px;
}

.department_section{
    display: flex;
    margin-top: 100px;
    position: relative;
}
.body_head_title{
    flex: 1;
    position: absolute;
    font-size: 30px;
    top: 10%;
    margin-left: 40px;
    font-weight: 700;
    font-size: 28px;
}
.body_arrows{
    flex: 1; 
    position: absolute;
    margin-left: 1150px;
    margin-top: 30px; 
}
.surgery_images{
    width: 300px;
    margin-top: 95px;
    margin-left: 40px;
    margin-right: 40px;
}

.department_sections{
    display: flex;
}
.surgery_sections{
    flex: 1; 
    margin-bottom: 120px;

}
.main_desc{
    margin-top:20px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 40px;
}
.sub_desc{
   
    margin-left: 40px;
    font-weight: 200;
}
.read_more{
    margin-left: 40px;
    color: rgb(11, 255, 194);
}
.body_secondary_section{
    display: flex;
    border-radius: 10px;
    background: rgba(232, 249, 246, 1);
}
.team_image{
    flex: 1;
    margin-left: 40px;
    background-image:url(/assets/bg\ image.png); 
    padding-top: 50px;  
    padding-bottom: 80px;  
}
.body_container_points{
    padding-right : 60px
    
}

.text_body_section {
    vertical-align: 10px;
    font-size: 15px;
}

.container_heading{
    font-size: 30px;
    margin-top: 100px;
    font-weight: 600;
    margin-bottom: 30px


}
.secbody_secondary_section{
    flex: 1;
}
.points{
    list-style: none;  

}
.pointimage{
    margin-bottom: 30px;
    justify-content: center;    
}

.body_container_section2{
    margin-top: 100px;
}
.body_section2_heading{   
    font-size: 22px;
    font-weight: 600;
    
    margin-bottom: 15px;
}
.body_section2_desc{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: grey;
    margin-bottom: 25px;
}
.section2_images{
    display: flex;
}
.section2_img1{
    flex: 1;
    display: block;
    padding:1%;
    margin-left: 10px;
    
}
.doctors_desc{
text-align: center;
   padding-right: -20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600
    ;
}
.doctors_desc2{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    color: grey;
}

.main_button1 button{
    background-color: rgba(23, 193, 163, 1);
    ;
    border: 0;
    color: white;
    padding: 10px 48px ;
    border-radius: 5px;
    margin-top: 10px;
}
.facilities_heading1{
    margin-top: 100px;
    font-size: 22px;
    font-weight: 600;

}
.facilities_activities{
    margin-bottom: 50px;

}

.hospital_section{
    display: flex;
}
.hospital_img{
    flex: 1;
    padding: 3%;
    
}

.last_section{
    position: relative;
}
.main_title{
    font-size: 22px;
    font-weight: 600;
    margin-top: 100px;
}

.sub2_desc{
   
    margin-left: 40px;
    font-weight: 200;
    font-size: 12px;
}
._images{
    width: 320px;
    margin-top: 95px;
    margin-left: 40px;

}

.imp_sections{
    display: flex;
}
._sections{
    flex: 1;
}
.read_more1{
    color: rgb(11, 255, 194);
}

.newsletter-section {
    position: relative;
    background-image: url("../assets/background2.png  ");
    width: 100%;
    height: 700px;
    margin-bottom: 60px;
    background-size: cover;
  }
  
  .interested-page {
    position : absolute;
    bottom :60%;
  }
  
  .interested-tiles-section {
    margin-left : 50px;
    margin-top : 30px;
    display : flex;
  }
  
  .newsletter-mainbody {
    margin-left : 40px;
    position : absolute;
    top : 60%;
    width : 1250px;
    height : 200px;
    background-color: white;
  }
  
  .newsletter-container img {
    height : 200px;
    width : 750px;
  }
  
  .newsletter-text {
    position : absolute;
    top : 35%;
    left : 3%;
    font-weight : bold;
    font-size : 30px;
  }
  
  .newsletter-textbox {
    position : absolute;
    top : 50%;
    right : 8%;
    width : 500px;
    height : 35px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #211E1E;
    padding-bottom : 5px;
    font-size : 18px;
  }
  
  .subscribe-button {
    position : absolute;
    top : 42%;
    right : 5.6%;
    height : 50px;
    width : 166px;
    margin-right : 30px;
    background-color: #17C1A3;
    border:none;
    border-radius :7px;
  }
  
  .footer-section-one {
    display : flex;
  }
  
  .footer-section-one-left-panel {
    flex : 2;
    margin-left : 70px;
  }
  
  .footer-hospital-logo {
    padding-bottom : 20px;
  }
  
  .footer-hospital-info {
    font-size: 14px;
    opacity : 90%;
    margin-bottom : 40px;
  }
  
  .footer-section-one-right-panel {
    flex : 3;
    text-align: center;
    margin-left : 100px;
    display : flex;
    margin-top : 13px;
  }
  
  .footer td,th,tr {
    text-align : left;
    width : 150px;
    height : 50px;
    box-sizing: border-box;
  }
  
  
  .footer-table-one {
    margin-right : 40px;
  }
  
  .footer-hr {
    margin-left : 65px;
    margin-right : 90px;
  }
  
  .footer-section-two {
    display : flex;
    margin-left : 67px;
    margin-top : 25px;
    line-height :25px;
  }
  
  .footer-address {
    flex : 1.5;
    margin-right :60px;
  }
  
  .footer-phone {
    flex : 1;
    margin-left : -30px;
  }
  
  .footer-mail {
    flex : 1;
    margin-left : -30px;
  }
  
  .footer-socials {
    flex : 1;
  }
  
  .socials-caption {
    font-weight : bold;
  
  }
  
  .footer-address-data {
    font-size : 13px;
  }
  
  .footer-section-three {
    font-size : 12px;
    opacity : 70%;
    padding-top : 40px;
    padding-bottom : 10px;
  }
  


